.modal hide fade
  .modal-header
    %span Favidex Help
    %a{ :class=>"close" :data => {:dismiss=>"modal"} }
  .modal-body
    %ul.nav
      %li Favi Button
      %li Favidex Logo
      %li Save Favi
      %li Fullscreen Mode
      %li Multiple Favibar
      %li Favibar Index
      %li Quicklinks
  .modal-footer